version: "3.9"

services:
  backend:
    build: ./backend
    container_name: mern_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - mern_network

  frontend:
    build: ./frontend
    container_name: mern_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    working_dir: /app
    command: npm run dev
    environment:
      - VITE_BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - mern_network

  mongo:
    image: mongo:6
    container_name: mern_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mern_network

networks:
  mern_network:
    driver: bridge

volumes:
  mongo_data:
